<div class="chat">
  <div class='row'>
    <div class='column-left'>
      <app-history></app-history>
    </div>
    <div class='column-center'>
      <app-chat-conversation></app-chat-conversation>
    </div>
  </div>

  <!-- Terminal -->
  <!--    <div class="terminal">-->
  <!--      <pre>ng generate component xyz</pre>-->
  <!--      <mat-form-field>-->
  <!--        <textarea matInput placeholder="Ask me anything" rows="3"></textarea>-->
  <!--      </mat-form-field>-->
  <!--    </div>-->
</div>

<!--<div class="content" role="main">-->
<!--  &lt;!&ndash;  <div class="answer-container">&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-list role="list">&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-list-item role="listitem">Item 1</mat-list-item>&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-list-item role="listitem">Item 2</mat-list-item>&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-list-item role="listitem">Item 3</mat-list-item>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-list>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
