:host {
  display: block;
  height: 100%;
}

.history {
  height: 100%;
  border-right: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;

  .input-header {
    text-align: right;
    padding: 7px;

    .btn-new {
      color: #000;
      font-size: 12px;

      mat-icon {
        margin-left: 5px;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .search-box {
    background-color: #f0f0f0;
    padding: 15px 15px 15px 15px;

    .input-search {
      position: relative;

      input {
        border: 1px solid #7777;
        width: 100%;
        display: block;
        border-radius: 35px;
        padding: 12px;
      }

      mat-icon {
        color: #94a3b8;
        position: absolute;
        right: 18px;
        top: 9px;
      }
    }
  }

  .messages-box {
    height: calc(100% - 128px);
    overflow-y: auto;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      &.active,
      :hover {
        background-color: rgba(238, 242, 255);
      }

      div.message-box {
        position: relative;
        cursor: pointer;
        border-top: 1px solid #d7d7d7;
        padding: 15px 14px;
        display: grid;
        grid-template-columns: 44px 2fr 80px;
        grid-template-rows: repeat(auto-fill, 100%);

        .btn-delete {
          position: absolute;
          right: 8px;
          background: transparent;
          border: 0;
          padding: 0;
          margin: 0;
          bottom: 7px;
          color: #e50000;
          cursor: pointer;
          z-index: 2;

          mat-icon {
            font-size: 14px;
          }
        }

        .avatar {
          background-image: url(/assets/images/chatbot-blue.svg);
          width: 30px;
          height: 30px;
          border: 1px solid #dadada;
          border-radius: 50%;
          background-size: 80%;
          background-repeat: no-repeat;
          background-position: 50% 35%;
        }

        .paragraph {
          text-overflow: ellipsis;
          display: block;
          inline-size: 245px;
          overflow: hidden;
          block-size: 60px;
          font-size: 12px;
          line-height: 15px;
          white-space: pre-wrap;
        }

        .date {
          text-align: right;
          color: #696969;
          font-size: .75rem !important;
        }
      }
    }
  }
}
