<div class='history'>
  <div class="search-box">
    <mat-form-field>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput #input maxlength="20" placeholder="Search">
    </mat-form-field>
  </div>

  <div class="messages-box">
    <ul>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis culpa cum delectus dolore eligendi explicabo impedit ipsam magni, maiores nemo obcaecati optio praesentium quidem, quo saepe tempore velit veritatis!</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
      <li>
        <div class="message-box">
          <div class="avatar"></div>
          <div class="paragraph">Something long text should be cut</div>
          <div class="date">11 Feb 2022</div>
        </div>
      </li>
    </ul>
  </div>
</div>
