<div class='history'>
  <div class="search-box">
    <div class="input-header">
      <button (click)="selectConversation()" class="btn-new" mat-button>New Chat</button>
    </div>
    <div class="input-search">
      <mat-icon matSuffix>search</mat-icon>
      <input #input [(ngModel)]="searchQuery" matInput maxlength="20" placeholder="Search">
    </div>
  </div>

  <div class="messages-box">
    <ul>
      <li *ngFor="let item of conversations | appFilter: searchQuery:['timestamp'];"
          [class.active]="selectedSessionId === item.id">
        <div (click)="selectConversation(item.id)" class="message-box">
          <button (click)="deleteConversation(item.id)" class="btn-delete">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="avatar"></div>
          <div class="paragraph">{{item.message}}</div>
          <div class="date">
            {{item.timestamp | date: 'HH:mm:ss' }}<br/>
            {{item.timestamp | date: 'dd MMM yyyy' }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
