<div class="toolbar" role="banner">
  <div class="logo">
    <svg height="101.678" id="rocket" viewBox="0 0 101.678 101.678" width="101.678" xmlns="http://www.w3.org/2000/svg">
      <title>AskMe</title>
      <g data-name="Group 83" id="Group_83" transform="translate(-141 -696)">
        <circle cx="50.839" cy="50.839" data-name="Ellipse 8" fill="#fff" id="Ellipse_8" r="50.839"
                transform="translate(141 696)"/>
      </g>
    </svg>

    <img alt="AskMe Logo" class="logo-img" src="/assets/images/logo.svg"/>
    <span>AskMe is running!</span>
  </div>

  <div class="spacer"></div>
  <a aria-label="Chat" routerLink="/chat">
    Chat
  </a>
  <a aria-label="Images" routerLink="/images">
    Images <span class="beta">BETA</span>
  </a>
  <a aria-label="Manage Secret" routerLink="/token">
    Settings
  </a>
  <a aria-label="AskMe GitHub" href="https://github.com/cristianizzo/askMe-chatGPT" target="_blank" title="GitHub">
    <img alt="GitHub" src="/assets/images/github.svg"/>
  </a>
</div>
